    body {
        background-color: grey;
    }
    h1 {
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 50px;
    }

    h2 {
        font-family: Arial, Helvetica, sans-serif;
        ;
        font-style: italic;

    }

    hr {
        border: dotted #504a4a 6px;
        border-bottom: none;
        width: 4%;
        margin: auto;
    }

    a {
        color: #423d3d;
        font-size:250%;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        
         margin-top:  225px;
         

        
    }

        
        a:hover {
            color: black;
            
        }
p {
    font-family: Arial, Helvetica, sans-serif
   ;
   font-size: 25px; 
}

.printerimg {
    margin-left: 25%;
}
.ok {
    margin-right: 50px;
    
}